<section class="position-relative py-32 bg-white overflow-hidden" style="background-image: url('flex-assets/elements/pattern-light.png')">
  <div class="position-absolute top-0 start-0 h-100 w-100" style="background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);"></div>
  <div class="position-relative container" style="z-index:1;">
    <div class="mb-7 text-center mw-md mx-auto">
      <h2 class="font-heading mb-4 fs-7">Sign In</h2>
      <p class="mb-0 fs-9 fw-medium text-secondary">Access your account.</p>
    </div>
    <form class="mw-sm mx-auto">
      <div class="mb-4 row g-6">
        <div class="col-12">
          <div class="form-group">
            <label class="mb-1 fw-medium text-light-dark" for="signInInput1-1">Username</label>
            <input class="form-control text-secondary-dark shadow" id="signInInput1-1" type="email" aria-describedby="emailHelp" placeholder="Username"/>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label class="mb-1 fw-medium text-light-dark" for="signInInput1-2">Password</label>
            <input class="form-control text-secondary-dark shadow" id="signInInput1-2" type="password" aria-describedby="passwordHelp" placeholder="Password"/>
          </div>
        </div>
      </div>
      <div class="mb-6 row align-items-center justify-content-between g-2">
        <div class="col-auto">
          <div class="form-check">
            <input class="form-check-input shadow" id="flexCheckDefault" type="checkbox" value=""/>
            <label class="form-check-label fs-13 fw-medium text-light-dark" for="flexCheckDefault">Remember Me</label>
          </div>
        </div>
        <div class="col-auto"><a class="fs-13 fw-medium text-success link-success" href="#">Forgot Password?</a></div>
      </div>
      <div class="mb-6 row">
        <div class="col-12">
          <button class="btn btn-lg btn-success fs-11 py-3 w-100 text-success-light shadow" style="background-color: rgb(191, 64, 191);" type="submit">Log In</button>
        </div>
      </div>
      <p class="mb-0 fs-13 fw-medium text-light-dark text-center">
        <span>Don't have an account?</span>
        <a class="text-success link-success" href="#">Register now</a>
      </p>
    </form>
  </div>
</section>